header{
    display: flex;
    justify-content: center;
}
h2{
    margin-top: 35px;
}
.dog {
    margin-left: 25px;
}

.projects {
    border: 1px solid black;
    width: 1000px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.content {
    margin-left: 10px;
}