.navbar ul{
    list-style-type: none;
    background-color: #4698BE;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar a:hover {
    background-color: #04abe2;
}
