.home2 {
    width: 925px;
    height: auto;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    box-shadow: 0 6px 16px rgba(15, 23, 42, 0.10);
}

.name {
    margin-bottom: 20px;
}

.rotatingImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 30px;
}
#imageDisplay {
    width: 400px;
    height: auto;
}
.arrow button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.quote {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#tvhLogo {
    width: 100px;
    height: auto;
}
#MTULogo {
    width: 120px;
    height: auto;
}
#hideLogo {
    width: 80px;
    height: auto;
}

.aboutMe {
    margin-top: 25px;
}