header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 35px;
}
.dog {
    margin-left: 15px;
}
.dog:hover {
    cursor: pointer;
}

body {
    background-color: #61CDFF;
}

.email {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}
.linkedIn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}
.github {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}
.strava {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.social {
    border: 1px solid black;
    width: 926px;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}
.details {
    margin-top: -10px;
}
.heading {
    text-align: center;
}