header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 35px;
}
.dog {
    margin-left: 15px;
}
.dog:hover {
    cursor: pointer;
}

.exp{
    border: 1px solid black;
    width: 925px;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.top-content{
    display: flex;
    align-items: center;
}
.content{
    margin-left: 10px;
}
h4{
    font-style: italic;
}

#tvhLogo{
    margin-right: 5px;
    margin-left: -10px;
    height: 100px;
    background-color: white;
}
#MTULogo{
    margin-right: -30px;
    margin-left: -45px;
    margin-top: 5px;
    height: 100px;
}
#HIDELogo{
    margin-right: 15px;
    margin-left: -5px;
    margin-top: 5px;
    height: 100px;
}