.exp{
    width: 925px;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 6px 16px rgba(15, 23, 42, 0.10);
}
.top-content{
    display: flex;
    align-items: center;
}
.content{
    margin-left: 10px;
}
h4{
    font-style: italic;
}

#tvhLogo{
    margin-right: 5px;
    margin-left: -10px;
    height: 100px;
    background-color: white;
}

.githubLogs {
    display: flex;
    margin-top: 15px;
}

#contributions{
    height: 130px;
}
#breakdown{
    height: 130px;
}

#MTULogo{
    margin-right: -30px;
    margin-left: -45px;
    margin-top: 5px;
    height: 100px;
    width: auto;
}
#HIDELogo{
    margin-right: 15px;
    margin-left: -5px;
    margin-top: 5px;
    height: 100px;
}
