.dog {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
}
.dog:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 19px;
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #4698BE;
    border-right: 2px solid gray;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.pages button {
    padding: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid black;
}
.pages button:hover {
    background-color:#d0d0d0;
}
.pages button.selected {
    background-color: #d6d6d6;
}

.version {
    position: fixed;
    bottom: 5px;    
    left: 15px;
    cursor: pointer;
    text-decoration: underline;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.topGroup-popup {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.topGroup-popup h3 {
    margin: 0;
}

.close-popup {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 10px;
}

.popup {
    background: white;
    border: 1px solid #CBD5E1;
    box-shadow: 0 6px 16px rgba(15, 23, 42, 0.10);
    color: black;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    padding: 10px;
}

.popup-content {
    text-align: center;
    margin: 10px;
}
.popup-content ul {
    display: inline-block;
}
.popup-content p {
    margin: 15px;
}

.future {
    text-align: center;
    margin-top: 60px;
}

.newAdditions {
    list-style-position: inside;
    text-align: left;
}
