header{
    display: flex;
    justify-content: center;
}
h2{
    margin-top: 35px;
}
.dog {
    margin-left: 25px;
}

.name {
    text-align: center;
}

.rotatingImages {
    width: 925px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bikeImg {
    width: 400px;
    height: auto;
}

.leftIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tvhLogo {
    width: 100px;
    height: auto;
}
#MTULogo {
    width: 120px;
    height: auto;
}

.rightIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hideLogo {
    width: 80px;
    height: auto;
}

.aboutMe {
    border: 1px solid black;
    width: 925px;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
