.techStackContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.techStack {
    width: 300px;
    height: 300px;
    align-items: center;
    margin: auto;
    /* margin-top: 10px; */
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    box-shadow: 0 6px 16px rgba(15, 23, 42, 0.10);
}

ul {
    margin-left: 20px;
}
li {
    margin-top: 3px;
}
h3 {
    margin-top: 3px;
}
